* {
  font-family: Raleway, Roboto, sans-serif;
}

.one-game-field > span {
  height: 100%;
  width: 100%;
  line-height: 50px;
  text-align: center;
  border-radius: 1000px;
}
.one-game-field {
  background-color: rgba(0, 140, 255, 0.73);
  border: 2px solid white;
  border-radius: 10px;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.level-1 {
  background-color: rgba(0, 140, 255, 1);
}
.level-2 {
  background-color: rgba(0, 240, 255, 1);
}
.level-4 {
  background-color: rgba(0, 255, 117, 1);
}
.level-8 {
  background-color: rgba(43, 255, 0, 1);
}
.level-16 {
  background-color: rgba(181, 255, 0, 1);
}
.level-32 {
  background-color: rgba(255, 237, 0, 1);
}
.level-64 {
  background-color: rgba(255, 153, 0, 1);
}
.level-128 {
  background-color: rgba(255, 0, 0, 1);
}
.level-256 {
  background-color: rgba(0, 18, 255, 1);
}
.level-512 {
  background-color: rgba(128, 0, 255, 1);
}
